<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Info	"
	  internalLogFile="D:\ProgrammingAndProjects\LibraryContext\web-api-Library\web-Api\Logs\internallog.txt">

	<targets>
		<target name="allfile" xsi:type="File" fileName="D:\ProgrammingAndProjects\LibraryContext\web-api-Library\web-Api\Logs\nlog-AspNetCore-all-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>

		<target name="ownfile" xsi:type="File" fileName="D:\ProgrammingAndProjects\LibraryContext\web-api-Library\web-Api\Logs\nlog-AspNetCore-own-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>

		<target name="lifetimeConsole" xsi:type="Console" layout="${MicrosoftConsoleLayout}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownfile" final="true" />

		<logger name="Mocrosoft.*" minlevel="Info" final="true" />
		<logger name="Syste.Net.Http.*" minlevel="Info" final="true" />

		<logger name="*" minlevel="Info" writeTo="ownfile"/>
	</rules>
</nlog>